@model JTicket.Models.Ticket

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<ul>
    <li>Description: @Model.Description</li>
    <li>Comments: @Model.Comments</li>
</ul>

