

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.flex-column {
    flex: 1;
    background-color: #303030; 

    height: auto;
    margin: 1px;
    justify-content: center;
}

.flex-heading {
    background: #303030;
    top: 0;
    left: 0;
    color: lightgray;
    font-size: 15px;
    padding-left: 10px;
    font-family: Arial;
    position: relative;
    padding-bottom: 5px;
    border-bottom-color: #303030;
    border-bottom: dashed;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.column-header-title {
    justify-content: space-between;
    padding-right: 25px;
}


.column-header-ticket-count {
    justify-content: space-between;
    padding-right: 10px;
}

.column-header-ticket-count-overloaded {
    color: red;
    justify-content: space-between;
    padding-right: 10px;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 8%;
    max-height: 8%;
    padding-right: 3px;
    background: #505050;
}

.card-title{
    
    font-weight: bold;
    font-size: 14px;

}

.card{

    display: flex;
    flex-direction: column;


}

.card-title {

}

.story {
    background-color: #505050;
    color: #F0FFFF;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #7FDBFF;
    border-left-width: 3px;
    font-size: 12px;
}


.bug {
    background-color: #505050;
    color: #F0FFFF;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #ff3a22;
    border-left-width: 3px;
    font-size: 12px;
}


.flex-open-ticket {
    background-color: #505050;
    color: #F0FFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #FF4136;
    border-left-width: 3px;
}


.flex-analysis-ticket {
    background-color: #505050;
    color: #F0FFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #FF851B;
    border-left-width: 3px;
}


.flex-debugging-ticket {
    background-color: #505050;
    color: #F0FFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #FFDC00;
    border-left-width: 3px;
}


.flex-testing-ticket {
    background-color: #505050;
    color: #F0FFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: #7FDBFF;
    border-left-width: 3px;
}

.flex-resolved-ticket {
    background-color: #505050;
    color: #F0FFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-left: solid;
    border-left-color: green;
    border-left-width: 3px;
}
