

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.flex-column {
    flex: 1;
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
}

.flex-heading {
    background: linear-gradient(360deg,#949494 10%,#efefef 360%);
    border-radius: 25px;
    color: #F0FFFF;
    padding: 10px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
}


.flex-open-ticket {
    background-color: #FF4136;
    color: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
}


.flex-analysis-ticket {
    background-color: #FF851B;
    color: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}


.flex-debugging-ticket {
    background-color: #FFDC00;
    color: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}


.flex-testing-ticket {
    background-color: #0074D9;
    color: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.flex-resolved-ticket {
    background-color: #2ECC40;
    color: #F0FFFF;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
