
@{
    ViewBag.Title = "KanbanBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="flex-container"></div>
<link href="~/Content/kanban.css" rel="stylesheet" />

@section scripts
{
    <script src="~/Scripts/react/dist/bundle.js"></script>
}


