
@{
    ViewBag.Title = "KanbanBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="flex-container"></div>


@section scripts
{
    <script src="~/Scripts/react/dist/bundle.js"></script>
}


