@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">JTicket is a demo ticket tracking application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Permissions</h2>
        <h3>User</h3>
        <p>
            <li>Create new tickets.</li>
            <li>View status of open and closed tickets.</li>
        </p>
        <h3>Admin</h3>
        <p>
            <li>All of the User permissions.</li>
            <li>Edit tickets after creation.</li>
            <li>Reopen and resolved tickets.</li>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Details</h2>
        <p>
            <li>Create and track active and resolved tickets.</li>
            <li>Writable ticket attributes include Title, Severity, Description, and Comments.</li>
            <li>Sort by ticket attributes Severity, Title, Creation Datetime, and Last Modified Datetime.</li>
            <li>Search for tickets by title.</li>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            <li>Author: Jake Taylor</li>
            <li>Email: jake.taylor.se@gmail.com</li>
        </p>
    </div>
</div>
