@model IEnumerable<JTicket.Models.Ticket>

@{
    ViewBag.Title = "Open Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Open Tickets</h2>    @* Page header*@
@if (!Model.Any())    // If there are no open tickets
{
    <p>There are currently no open tickets.</p>
}
else
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)    // Execution and query begins here
            {
                <tr>
                    <td>@Html.ActionLink(t.Title, "Edit", "OpenTicket", new { id = t.Id }, null)</td>    @*Link to details*@
                    <td>@t.Severity</td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    @Html.ActionLink("New Ticket", "New", "OpenTicket", null, new { @class = "btn btn-primary" })
</p>
