@model IEnumerable<JTicket.Models.Ticket>

@{
    ViewBag.Title = "Open Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Open Tickets</h2>    @* Page header*@
@if (!Model.Any())    // If there are no open tickets
{
    <p>There are currently no open tickets.</p>
}
else
{

    <table id="tickets" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Severity</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)    // Execution and query begins here
            {
                <tr>
                    <td>@Html.ActionLink(t.Title, "Edit", "OpenTicket", new { id = t.Id }, null)</td>    @*Link to details*@
                    <td>@t.Severity</td>
                    <td>

                        <button data-ticket-id="@t.Id" class="btn-link js-delete">Delete</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    @Html.ActionLink("New Ticket", "New", "OpenTicket", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $("#tickets").on("click", "js-delete", function ()
            {
                var button = $(this);
                if (confirm("Are you sure you want to delete this ticket?")) 
                { 
                        $.ajax(
                        {
                                url: "/api/tickets/" + button.attr("data-ticket-id"),
                                method: "DELETE",
                                success: function ()
                                {
                                    button.parents("tr").remove();
                                }
                        });
                }
            });
        });
    </script>
}