@{
    ViewBag.Title = "Open Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Open Tickets</h2>    @* Page header*@

<table id="tickets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Severity</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p>
    @Html.ActionLink("New Ticket", "New", "OpenTicket", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $.fn.dataTable.enum( [ 'Very High', 'High', 'Medium', 'Low', 'Very Low' ] );
            $("#tickets").DataTable(
                {
                    ajax:
                    {
                        url: "/api/tickets",
                        dataSrc: ""
                    },

                    columns:
                        [
                            {
                                data: "title",
                                render: function (data, type, ticket) {
                                    return "<a href='/OpenTicket/Edit/" + ticket.id + "'>" + ticket.title + "</a>"

                                }
                            },

                            {
                                data: "severity",
                                render: function (data)
                                {
                                    switch (data)
                                    {
                                        case (1):
                                            return "Very Low";
                                        case (2):
                                            return "Low";
                                        case (3):
                                            return "Medium";
                                        case (4):
                                            return "High";
                                        case (5):
                                            return "Very High"
                                    }
                                }
                            },

                            {
                                data: "id",
                                render: function (data)
                                {
                                    return "<button class='btn-link js-delete' data-ticket-id=" + data + ">Delete</button>"

                                }

                            }
                        ]
                });
            $("#tickets").on("click", ".js-delete", function ()
            {
                var button = $(this);
                if (confirm("Are you sure you want to delete this ticket?")) 
                { 
                        $.ajax(
                        {
                                url: "/api/tickets/" + button.attr("data-ticket-id"),
                                method: "DELETE",
                                success: function ()
                                {
                                    button.parents("tr").remove();
                                }
                        });
                }
            });
        });
    </script>
}